#center {

    width: 500px; /* Ширина элемента в пикселах */

    padding: 10px; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */
    background-image: url(Background.jpg); /* Цвет фона */

}
button:focus {outline:0;}
.Yellowbutton,.Redbutton,.Bluebutton,.Greenbutton{

    padding:10px;
    margin-left: 10px;
    border-radius: 10px;
    color: black;
}
#change_level, #reset_button, #go_play{
    margin-left: 10px;
    padding: 10px;}
#Music_mute{
    margin-left: 10px;
    padding: 10px;
}

.Yellowbutton:active,.Redbutton:active,.Bluebutton:active,.Greenbutton:active {
    background: rgb(167, 83, 151) linear-gradient(rgb(167, 83, 151), rgb(167, 83, 151));
        box-shadow:
            0 2px rgb(86,38,6),
            0 1px 6px rgba(0,0,0,.4),
            inset 0 1px rgba(255,255,255,.3),
            inset 0 0 3px rgba(255,255,255,.5);
    -webkit-transform: translate(0, 4px);
    transform: translate(0, 4px);
}
