#center {

    width: 500px; /* Ширина элемента в пикселах */

    padding: 10px; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */
    background-image: url(Background.jpg); /* Цвет фона */

}

.Yellowbutton,.Redbutton,.Bluebutton,.Greenbutton{

    padding:10px;
    margin-left: 10px;
    border-radius: 10px;
    color: black;
}
#change_level, #reset_button, #go_play{
    margin-left: 10px;
    padding: 10px;}